.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.heading-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-container{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    gap: 15px;
}
.tab-textcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: flex-start;
    /* gap: 10px; */
}
.menu-itemscontainer{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}