.parent-div {
  position: relative;
  height: 860px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(1, 1, 10, 0.865),
      rgba(1, 1, 10, 0.807)
    ),
    url("../../assets/bg.png");

  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  /* position: absolute; */
  top: 0;
  left: 0;
}
.content-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;
}
div {
  color: white;
}
.leftdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightdiv {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
}
.heroimg {
  animation: rotate 14s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
