.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    padding: 0 10%;
    
}
.button{
    color: black;
    margin-top: 10%;
}

/* .navbar-right{
    display: flex;
    flex-direction: row;
} */