.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}
.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
}
.MuiButton-text {
}
.logo {
  /* min-width: 140px; */
  width: 200px;
  height: auto;
}

.navbar-right {
}
