.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1%;
  width: 100%;
  padding: 0 0%;
  background-color: transparent;
  /* color: transparent; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.MuiButton-text {
}
.logo {
  /* min-width: 140px; */
  width: 200px;
  height: auto;
}

.navbar-right {
}
